body {
    background-color: #9f18a0;
}
.navbar {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;  
}
.texto-principal {
    font-weight: 600;
    color: black;
}
.homo {
    color:red ; 
}